H1 {
	FONT: 250%/125% "Segoe UI Light", "Segoe UI", Arial, Verdana, Tahoma, sans-serif; COLOR: #4f4f4f
}
H2 {
	FONT: 216%/108% "Segoe UI Light", "Segoe UI", Arial, Verdana, Tahoma, sans-serif; COLOR: #4f4f4f
}
.hpMst_Footer {
	PADDING-TOP: 40px !important
}
